.App {
  height: 100%;
  width: 100%;
  color: white;
}

.header {
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.content {
  /* border: solid yellow 2px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.container {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  margin-left: 20px;
}

.container-box {
  border: solid wheat 2px;
  text-align: center;
  cursor: pointer;
  border-radius: 6px;
  width: 200px;
  height: 200px;
  margin: 20px;
}

.container-box:hover {
  background-color: whitesmoke;
  color: black;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 10px;
  /* border: solid green 2px; */
}

.footer {
  background-color: white;
  color: black;
}